*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  overflow: hidden;
  height: 100%;
}

body{
  height: 100%;
  color: $primaryColor;
  font-family: 'Fira Sans', sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

ul,
li{
  padding: 0;
  list-style: none;
}

p{

}

:focus {
  outline: $secondColor auto 5px;
}
