.h1,
.h2,
.h3,
.h4,
.h5{
  display: block;
  color: #ff3333;
  font-weight: 700;
  font-family: 'Fira Sans', sans-serif;
}

.h1{
}

.h2{
}

.h3{
  position: relative;
  margin: 30px;
  padding-left: 25px;
  font-size: 35px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    border-top: solid 3px $secondColor;
    border-left: solid 3px $secondColor;
    border-radius: 3px;
    transform: translate(0, -50%) rotate(135deg);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 5px;
    height: 5px;
    background-color: #ff3333;
    transform: translate(0, -50%) rotate(135deg);
  }
}

.h4{
}

.h5{
}

h1{
  font-size: 45px;
}

h2{
  font-size: 37px;
}

h3{
  font-size: 30px;
  line-height: 40px;
}

h4{
  font-size: 25px;
  line-height: 30px;
}

p{
  font-size: 24px;
  line-height: 35px;
  margin: 15px 0;
}

@include phone {
  .h3{
    margin: 15px 0 15px 0;
    padding-left: 0px;
    font-size: 28px;
    text-align: center;
    &:before, &:after{
      display: none;
    }
  }
  p{
    font-size: 16px;
  }
}
